# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0

##
## Application artifacts
##

# direnv cache for Nix shells
/.direnv/

# Rust build directory
/cargo_home/
/target/

# Nix build output
/result
